.links {
  z-index: 1;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

textarea {
  resize: vertical !important;
}

.issue-form #title {
  text-transform: capitalize;
}

.issue-form label {
  text-align: left !important;
}

.issue-tag-link {
  text-decoration: none !important;
  color: initial;
  display: block;
  margin-top: 15px;
}

.issue-tag-link:hover {
  text-decoration: none !important;
  color: initial;
}

.side-info {
  margin-top: 10px;
}

.badge-primary {
  background-color: #3097d1 !important;
}

.badge-warning {
  background-color: #cbb956 !important;
}

.badge-success {
  background-color: #5cb85c !important;
}

.back {
  text-decoration: none !important;
  font-weight: bold;
}

.view-issue .side-info {
  border-top: 1px solid #e3e2e2;
  padding-top: 10px;
}

.issue-title {
  margin-top: 15px;
}

[color-white] {
  color: #fff !important;
}

.bg-primary {
  background-color: #3097d1 !important;
}

.issue-tag-link:not(:first-child) {
  border-top: 1px solid #dbdee0;
}

.issue-tag-link:last-child {
  margin-bottom: 15px;
}

.goto-edit {
  border-radius: 100%;
  padding: 4px 5.2px;
  /* color: #fff; */
  font-size: 10px;
  border: 1px solid;
}

.rad-100 {
  border-radius: 100%;
}

.searchbox-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
}

.searchbox-wrapper #srch-term {
  border-right: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px 0 0 20px;
}

.searchbox-wrapper #srch-term:focus {
  outline: none !important;
  border-color: #ccd0d2 !important;
}

.searchbox-wrapper #search {
  border-left: none !important;
  outline: none !important;
  border-radius: 0 20px 20px 0;
}

.issuebtn {
  margin-bottom: 10px;
}

.delete-issue {
  color: red !important;
  border-radius: 100%;
  padding: 4px 5.2px;
  font-size: 10px;
  border: 1px solid;
}


::selection {
  background: #e6ecef; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e6ecef; /* Gecko Browsers */
}

.highlight {
    background-color: #dbdbdbb0;
    padding: 3px 6px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: default;
}

#app {
    background-color: #f5f8fa;
}