.links {
    z-index: 1;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

textarea {
    resize: vertical !important;
}

.issue-form {
	#title {
    	text-transform: capitalize;
	}
}

.issue-tag-link {
    text-decoration: none !important;
    color: initial;

    &:hover {
       text-decoration: none !important;
       color: initial;
    }
}

.side-info {
    margin-top: 10px;
}

.badge-primary {
    background-color: #3097d1 !important;
}

.badge-warning {
    background-color: #cbb956 !important;
}

.badge-success {
    background-color: #5cb85c !important;
}

.back {
    text-decoration: none !important;
    font-weight: bold;
}

.view-issue {
    .side-info {
        border-top: 1px solid #e3e2e2;
        padding-top: 10px;
    }
}

.issue-title {
    margin-top: 5px;
}

[color-white] {
    color: #fff !important;
}

.bg-primary {
    background-color: #3097d1 !important;
}

.goto-edit {
    border-radius: 100%;
    padding: 4px 5.2px;
    /* color: #fff; */
    font-size: 10px;
    border: 1px solid;
}

.rad-100 {
    border-radius: 100%;
}

.searchbox-wrapper {
    margin-bottom: 20px;
    margin-top: 10px;

    #srch-term {
        border-right: none !important;
        box-shadow: none;
        border-radius: 20px 0 0 20px;

        &:focus {
            outline: none !important;
            border-color: #ccd0d2 !important;
        }
    }

    #search {
        border-left: none !important;
        outline: none !important;
        border-radius: 0 20px 20px 0;
    }
}